@import '~antd/dist/antd.css';

.todo {
    &__sidebar{}

}
.list_sidebar_add-list {
    padding: 20px, 0;
    height: 10vh;
}
.list_sidebar_lists{
    padding: 20px, 0;
}

.site-page-header-ghost-wrapper {
    background-color: #f5f5f5;
    padding: 24px;
  }