.taskItem {
    display: flex;
    justify-content: space-around;
    
    .switch{
        margin-top: 3px;
        flex-grow: 1;
    }
    .input {
        flex-grow: 1000;
    }
    .datePicker{
        flex-grow: 1;
    }
    .btnEdit {
        flex-grow: 1;
    }
    .btnDelete {
        flex-grow: 1;
    }
    // float: left;
}