.task{
    display: flex;
    justify-content: space-around;
    
    &__switch{
        margin-top: 3px;
        flex-grow: 1;
    }
    &__input {
        flex-grow: 1000;
    }
    &__datepicker{
        flex-grow: 1;
    }
    &__btn-edit {
        flex-grow: 1;
    }
    &__btn-delete {
        flex-grow: 1;
    }
}

.tasks__add{
    &_form{
        display: flex;
        justify-content: space-around;
    }
    &-input{
        flex-grow: 1000;
    }
    &-date{
        flex-grow: 3;
    }
    &-btn {
        flex-grow: 1;
    }
}